.nutrition-card:hover div p {
    color: white;
    transition: all 0.5s ease-in-out;
}

.nutrition-card:hover  div h3,.nutrition-card:hover button {
    color: white;
    transition: all 0.3s ease-in-out;
}

.activeCard {
    background: #2A9D8F;
    
}


.activeCard div h3,.activeCard button {
    color: white;
}
.activeCard div p {
    color: white;

}